:host{
   /* Primary and Secondary Colors */
  --theme-primary-color: #3498db;   /* Blue */
  --theme-secondary-color: #2ecc71; /* Green */

  /* Background and Text Colors */
  --theme-background-color: #f5f5f5; /* Light Grey */
  --theme-text-color: #333333;       /* Dark Grey */

  /* Action (Link, Button) Colors */
  --theme-link-color: #e74c3c;       /* Red */

  /* Neutral Colors */
  --theme-neutral-color: #bdc3c7;    /* Light Grey */

  /* Feedback Colors */
  --theme-success-color: #27ae60;    /* Green */
  --theme-warning-color: #f1c40f;    /* Yellow */
  --theme-error-color: #e74c3c;      /* Red */
}
dv-sidebar.sidebar-component{
  position: absolute;
  display: flex;
  height: 100%;
  border-radius: 12px;
}
dv-header{
  padding: 0px 12px;
  --bg-color : rgba(255, 255, 255, 0.1) !important;
  --color: #fff !important;
  flex-shrink: 0;
  backdrop-filter: blur(12px); /* Frosted blur */
  -webkit-backdrop-filter: blur(12px);
  border-bottom: 1px solid rgba(255, 255, 255, 0.2); /* Light glass border */
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1); /* Soft shadow */

}
.mobile-menu-bar{
  display: flex;
  padding: 10px 6px;
  justify-content: flex-end;
}
.header{
  padding: 10px 16px;
    background: #ffffff10;
    border-radius: 12px 12px 0px 0px;
  .action-btn{
    display:flex;
    align-items: center;
    gap: 6px;

  }
}


