dv-checkbox-group{
    display: flex;
    gap: 8px;
}
.glass-checkbox {
    padding: 1rem 2rem;
    margin: 0.5rem;
    border-radius: 12px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    color: white;
    cursor: pointer;
    transition: all 0.3s ease;
  
    &.checked {
      border: 1px solid #00ffab;
      background: rgba(0, 255, 171, 0.2);
    }
  }
  