.anchormenu{
    display: block;
    position: fixed;
    left: 100%;
    top: 50%;
    transform: translate(-200% , -50%);
    backdrop-filter: blur(5px);
    padding: 12px;
    border-radius: 12px;

}

section span{
    color: #00ff22;
}

.scroll-content{
    height: 50vh;
    overflow: auto;
}