/* You can add global styles to this file, and also import other style files */
* {
  padding: 0;
  margin: 0;
}
body{
  background-color: #001122;
  background-image: 
    radial-gradient(circle at -8% 50%, #aaffff70, transparent 15%), /* left edge */
    radial-gradient(circle at 100% 100%, #aaffff30, transparent 24%), /* bottom-right */
    radial-gradient(circle at 70% 120%, #aaffff20, transparent 25%); /* bottom center */
    // url('./assets/bg3.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-blend-mode: screen, overlay;
  color: aliceblue;
  min-height: 100vh;
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
}

:root{
  --dv-border : #808080;
}
dv-layout{

dv-header{
border-radius: 8px;
overflow: hidden;
}
.main-container{
  padding: 10px;
  box-sizing: border-box;
  gap: 10px;
  .content-container{
    gap: 10px;
    .layout-content{
      gap: 10px;
    }
  }
}
}