/* You can add global styles to this file, and also import other style files */
* {
  padding: 0;
  margin: 0;
}
body{
  background-color: #001122;
  background-image: 
    radial-gradient(circle at -8% 50%, #aaffff70, transparent 15%), /* left edge */
    radial-gradient(circle at 100% 100%, #aaffff30, transparent 24%), /* bottom-right */
    radial-gradient(circle at 70% 120%, #aaffff20, transparent 25%); /* bottom center */
    // url('./assets/bg3.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-blend-mode: screen, overlay;
  color: aliceblue;
  min-height: 100vh;
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
}

:root{
  --dv-border : #808080;
  --border-type: solid;

  /* Glass look */
  --info-bg: rgba(255, 255, 255, 0.1);
  --info-border: rgba(255, 255, 255, 0.2);
  --info-text: #ffffff;

  --success-bg: rgba(0, 255, 0, 0.1);
  --success-border: rgba(0, 255, 0, 0.3);
  --success-text: #a6f4c5;

  --danger-bg: rgba(255, 0, 0, 0.1);
  --danger-border: rgba(255, 0, 0, 0.3);
  --danger-text: #ffc1c1;

  --warning-bg: rgba(255, 255, 0, 0.1);
  --warning-border: rgba(255, 255, 0, 0.3);
  --warning-text: #fff3c4;

  /* Optional frosted glass blur */
  --glass-blur: blur(10px);

  /* Optional: border radius */
  --borderRadius: 12px;
}

.tag.done {
  background: rgba(0, 255, 128, 0.1); 
  border: 1px solid rgba(0, 255, 128, 0.2); 
  border-radius: 12px;
  padding: 6px 14px;
  color: #00cc88; 
  box-shadow: 0 4px 30px rgba(0, 255, 128, 0.15); 
  font-weight: 500;
  font-size: 14px;
  display: inline-block;
  transition: all 0.3s ease;
}


un-alerts .alert_container{
  backdrop-filter: var(--glass-blur);
  -webkit-backdrop-filter: var(--glass-blur);
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1); // subtle lift
}
dv-layout{

dv-header{
border-radius: 8px;
overflow: hidden;
}
.main-container{
  padding: 10px;
  box-sizing: border-box;
  gap: 10px;
  .content-container{
    gap: 10px;
    .layout-content{
      gap: 10px;
    }
  }
}
}
dv-table{
  border-radius: 8px;
}
